.buy-btn {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}
.seeAll {
  color: coral;
}
.product-category {
  font-size: 25px;
  font-weight: 600;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgrey;
}
.card-footer {
  border: none;
  background-color: white;
}
